
.cont-24 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,165,170,0.720);
}
.cont-65 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,165,170,0.720);
}
.cont-163 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,165,170,0.720);
}
.cont-203 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,165,170,0.720);
}
.cont-246 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,165,170,0.720);
}
.cont-275 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,165,170,0.720);
}
